@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .title {
    @apply text-3xl font-bold text-center my-10
  }
  .sub_title {
    @apply text-2xl font-bold text-center my-10
  }
}
